.vscode/**
.vscode-test/**
.env*
src/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
!out/**
node_modules/@types/**
node_modules/typescript/**
node_modules/@vscode/**
node_modules/@types/**
icons/gh_banner_original.png
**/.github/**
build/**
**/*.vsix
*-chatgpt-context-*.zip
package.slim.json
scripts/**
tests/**
